<header class="header">
  <div class="navbar-container nav">

    
    <div class="logo">
    <a href="../index.html">
        <img src="../global-images/ai-concept.png" alt="Vintage Restore Logo">
        Vintage<span>Restore</span>
    </a>
</div>

    
    <nav class="nav-links" id="navMenu">
  <div class="dropdown">
    <a href="../index.html" class="nav-item nav-link" data-page="home">Home<i data-lucide="chevron-down"></i></a>
    <div class="dropdown-menu">
      <a href="../index.html" class="nav-link" data-page="home">Home 1</a>
      <a href="../home-2/home-2.html" class="nav-link" data-page="home">Home 2</a>
    </div>
  </div>
  <a href="../about/about.html" class="nav-link">About</a>
  <a href="../services/services.html" class="nav-link">Services</a>
  <a href="../pricing/pricing.html" class="nav-link">Pricing</a>
  <a href="../blog/blog.html" class="nav-link">Blog</a>
  <a href="../contact/contact.html" class="nav-link">Contact</a>
  <a href="../dashboard.html" class="nav-link">Dashboard</a>

  <button class="btn-primary mobile-login" id="mobileLoginBtn">Login</button>
</nav>

    
    <div class="nav-actions">
      <button id="rtlToggle" class="btn-secondary">RTL</button>
      <button id="themeToggle" class="icon-btn">
  <i data-lucide="moon" class="icon"></i>
</button>
      <button class="btn-primary desktop-login" id="loginBtn">
  Login
</button>
      <button id="menuToggle" class="hamburger">☰</button>
    </div>

  </div>
</header>

<script src="https://unpkg.com/lucide@latest"></script>

<script>
      lucide.createIcons();
    </script>



